<app-navigation></app-navigation>
<div class="container">
    <div class="left">
        <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="courses" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </div>
    <div class="right">
        <h5 style="text-align: center ;">Number of location where this course is taught</h5>
        <ngx-charts-pie-chart [scheme]="colorscheme" [results]="location" [gradient]="gradients" [legend]="showlegend" [labels]="showlabels" [doughnut]="isdoughnut">
        </ngx-charts-pie-chart>
    </div>
</div>